* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.greeting-heading {
  text-align: center;
}
.unOrder-list {
  list-style-type: none;
  display: flex;
  text-align: center;
  padding-left: 0px;
}
.currentImage {
  height: 40vh;
  width: 20vw;
  margin-top: 40px;
}
